<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pshow.repo.datamodel.namespace.PSNamespace">
	<resultMap id="namespaceResultMap" type="org.pshow.repo.dao.model.NamespaceModel">
		<result property="uri" column="uri" />
		<result property="prefix" column="n_prefix" />
		<result property="id" column="id" />
		<result property="versions" column="versions" />
	</resultMap>
	<insert id="insert" parameterType="org.pshow.repo.dao.model.NamespaceModel">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
	        SELECT nextval('seq_namespace') as id  
	    </selectKey>
		insert into	ps_namespace (id, versions, uri, n_prefix) values (#{id}, 1, #{uri}, #{prefix})
	</insert>
	<select id="getAll" resultMap="namespaceResultMap">
		select id, versions, uri, n_prefix from ps_namespace
	</select>
	<select id="findNamespaceByPrefix" resultType="string" parameterType="string">
		select uri from ps_namespace where n_prefix=#{value}
	</select>
	<select id="findNamespaceByUri" resultMap="namespaceResultMap" parameterType="string">
		select id, versions, uri, n_prefix from ps_namespace where uri=#{value}
	</select>
</mapper>