<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pshow.repo.dao.model.PropertyModel">
	<resultMap id="propertyResultMap" type="org.pshow.repo.dao.model.PropertyModel">
		<result property="contentId" column="content_id" />
		<result property="actualType" column="actual_type_n" />
		<result property="propertyQName" column="qname_id" />
		<result property="stringValue" column="string_v" />
		<result property="booleanValue" column="boolean_v" />
		<result property="longValue" column="long_v" />
		<result property="floatValue" column="float_v" />
		<result property="doubleValue" column="double_v" />
		<result property="serializableValue" column="serializable_v" />
	</resultMap>
	<insert id="insertProperty" parameterType="org.pshow.repo.dao.model.PropertyModel">
		insert into ps_content_properties
		(content_id, actual_type_n, boolean_v, long_v, float_v, double_v, string_v, serializable_v, qname_id, list_index)
		values
		(#{contentId}, #{actualType}, #{booleanValue}, #{longValue}, #{floatValue}, #{doubleValue}, #{stringValue}, #{serializableValue}, #{propertyQName}, 1)
	</insert>
	<select id="findProperty" parameterType="java.util.Map" resultMap="propertyResultMap">
		select p.* from 
			ps_content_properties p left join ps_content c on p.content_id=c.id
			left join ps_qname q on p.qname_id=q.id
			left join ps_namespace n on q.ns_id=n.id
			where c.uuid=#{contentId} and q.local_name=#{qname.localName} and n.uri=#{qname.namespaceURI}
	</select>
	<delete id="removeProperty" parameterType="java.util.Map">
		delete from ps_content_properties where content_id=(select id from ps_content where uuid=#{contentId}) and qname_id=(
			select q.id from ps_qname q left join ps_namespace n on q.ns_id=n.id
			where q.local_name=#{qname.localName} and n.uri=#{qname.namespaceURI})
	</delete>
	<select id="findProperties" parameterType="string" resultMap="propertyResultMap">
		select p.* from 
			ps_content_properties p left join ps_content c on p.content_id=c.id
			where c.uuid=#{contentId}
	</select>
</mapper>