<form id="content_update" ng-submit="updateContent()" class="form-horizontal">
	<fieldset>
	<legend ng-init="readContent(contentid)">修改内容</legend>
		<div class="control-group" ng-repeat="(name, detail) in content">
			<label class="control-label" for="input{{$index}}">{{detail.title}}</label>
			<div class="controls">
				<input type="text" id="input{{$index}}" name="{{name}}" ng-required="detail.definition.mandatory" value="{{detail.value}}" >
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary"><i class="icon-ok"></i> 修改</button>
			<button type="button" class="btn" onclick="window.history.back()"><i class="icon-reply"></i>返回</button>
			</div>
		</div>
		</div>
	</fieldset>
</form>