<form ng-submit="createFolder()">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	  <ul id="content_tab" class="nav nav-tabs">
	    <li class="active"><a href="#ct" data-toggle="tab">选择类型</a></li>
	    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
	  </ul>
	  <div class="tab-content">
	    <div class="tab-pane active" id="ct" style="height: 500px">
	        <div class="control-group">
				<label class="control-label" for="selectError">文档类型</label>
				<div class="controls" ng-init="getAllContentType()">
				  <select id="selectError" required data-rel="chosen" data-placeholder="文档类型" ng-model="content.type" ng-options="title for (name, title) in contenttypes">
				  </select>
				</div>
				<a class="btn btn-primary" href="javascript:void(0);" onclick="$('#content_tab li:eq(1) a').tab('show')"><i class="icon-arrow-right icon-white"></i> 下一步</a>
			</div>
	    </div>
	    <div class="tab-pane" id="tab2">
	      <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> 创建</button>
		  <button ng-controller="IndexCtrl" type="button" class="btn" ng-click="back()"><i class="icon-reply"></i>返回</button>
	    </div>
	  </div>
	</div>
</form>
<script type="text/javascript">
    $("input:checkbox, input:radio, input:file, select").not(
                '[data-no-uniform="true"],#uniform-is-ajax').uniform();
</script>